/* Login.css */

.login-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .login-container h2 {
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
  }
  
  .login{
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
  }
  