/* PlansPricing.css */

.plans-pricing-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.plans-pricing-container h2 {
  color: #333;
}

.plans-pricing-container p {
  color: #666;
  line-height: 1.5;
}

/* Media Query for screens 600px and below */
@media only screen and (max-width: 600px) {
  .plans-pricing-container {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .plans-pricing-container h2 {
    font-size: 1.8em; /* Adjust font size for smaller screens */
  }

  .plans-pricing-container p {
    font-size: 1em; /* Adjust font size for smaller screens */
  }
}
