/* Resources.css */

.resources-container {
  padding: 40px;
  background-color: #E3E5E9;
  text-align: center;
}

.resources-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.resource-item {
  max-width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resource-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 200px; /* Adjust height for smaller screens */
  overflow: hidden;
}

.resource-item h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.resource-item p {
  font-size: 1em;
  color: #666;
  margin-bottom: 15px;
}

.resource-item a {
  display: block;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.resource-item a:hover {
  background-color: #2980b9;
}

/* Additional styles */
.codeRedDescription {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #ff3366;
  font-size: 2.5em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 15px;
}

/* Text Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

p {
  animation: fadeInUp 1s ease-out;
}

/* Media Query for Mobile Screens */
@media only screen and (max-width: 600px) {
  .resources-item {
    max-width: 100%;
  }

  .resource-img {
    height: 150px; /* Adjust height for smaller screens */
  }
}
