/* Header.css */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333; /* Change the background color as needed */
  color: #fff; /* Change the text color as needed */
}

.logo-container {
  /* Add any styling for the logo container */
}

.logo {
  width: 100px; /* Adjust the width of the logo */
  height: auto;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.main-navigation ul {
  list-style: none;
  display: flex;
}

.main-navigation li {
  margin-right: 20px; 
  cursor: alias;
}

.main-navigation a {
  text-decoration: none;
  color: #fff; /* Change the text color as needed */
  /* Remove cursor property to keep the default cursor */
}

/* Dropdown styles */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333; /* Change the background color as needed */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff; /* Change the text color as needed */
  padding: 12px 16px;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}



.menu-icon {
  display: none; /* Hide menu icon by default for larger screens */
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block; /* Display menu icon for smaller screens */
  }

  .main-navigation ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 70px; /* Adjust the top spacing as needed */
    left: 0;
    background-color: #333; /* Change the background color as needed */
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s;
  }

  .main-header.mobile-menu-open {
    background-color: #555; /* Change the background color when the mobile menu is open */
    /* Add any additional styles for the main header when the mobile menu is open */
  }
  
  .main-header.mobile-menu-open .main-navigation ul {
    opacity: 1;
    visibility: visible;
  }

  .main-navigation li {
    margin: 10px 0;
    cursor: alias;
  }
}

li {
  list-style: none; /* Remove default list styling */
}

.switch {
  position: relative;
  display: inline-block;
  margin: 0 10px;
}

.switch > span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: #000000;
}

input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: #000000;
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #000000;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: #000000;
  border-radius: 60px;
}

input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #22b36f;
  border-radius: 60px;
}

input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  border-radius: 52px;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}

.check-toggle-round-flat{
  display: none;

}