/* Footer.css */

.footer-container {
  background-color: #495565;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.company-info,
.social-links {
  flex: 1;
  margin-bottom: 20px;
}

.company-info h3,
.social-links h3 {
  margin-bottom: 10px;
}

.social-links a {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

/* Media Query for screens 600px and below */
@media only screen and (max-width: 600px) {
  .company-info,
  .social-links {
    flex: 100%;
  }
}
